
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
    
}

:root{
    --color-white: hsl(0, 0%, 100%);
    --color-light: #D9D9D8;
    --color-gray: hsl(252,15%,60%);
    --color-primary: #80BCBD;
    --color-secondary: #AAD9BB;
    --color-success: #589495;
    --color-danger: hsl(0,95%,60%);
    --color-dark: hsl(252,30%,15%);
    --color-black: hsl(252,30%,8%);
    --color-body: #D9D9D8;


    --border-radius: 1rem;
    --card-border-radius: 1rem;
    --btn-paddig: .6rem 2rem;
    --search-padding: .6rem 1rem;
    --card-padding: 1rem;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-dark);
    background: var(--color-body);
    /*overflow: hidden;*/
}

.container{
    width: 90%;
    margin: 0 auto;

}

img{
    display: block;
    width: 100%;
}

.profile-picture{
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture:hover{
    opacity: 0.75;
}

.btn{
    padding: var(--btn-paddig);
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    font-weight: 500;
    transition: 300ms ease all;
}

.btn:hover{
    opacity: 0.75;
}

.btn-primary{
    background: var(--color-primary);
    border: var(--color-success);
    color: var(--color-white);
}

.btn-primary:hover{
    background: var(--color-success);
    color: var(--color-white);
}

.text-bold{
    font-weight: 500;
}

.text-grey{
    color: var(--color-gray);
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: .7rem 0;
    background: var(--color-secondary);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    width: 4rem;
    height: 4rem;
}

nav .search-bar{
    padding: var(--search-padding);
    background: var(--color-white);
    border-radius: var(--border-radius);
}

nav .search-bar input[type= "search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: .9rem;
    color: var(--color-dark);

}

nav .search-bar input[type= "search"]::placeholder{
    color: var(--color-gray);
}

.add-post{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo h3{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
    color: var(--color-danger);
}

/*.............Main................*/
main{
    position: relative;
    top: 6rem;
}

.main-container{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    position: relative;
}

/*..................................Main Left..............................................*/
.main-left{
    position: sticky;
    height: max-content;
    top: 5.4rem;
}

.main-left .profile{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 100%;
    gap: 1rem;
    display: flex;

}
h4{
    color: var(--color-dark);
}

aside{
    background: var(--color-white);
    margin-top: 1rem;
    border-radius: var(--card-border-radius);
   
}

aside .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    cursor: pointer;
    transition: 300ms ease all;
    background: var(--color-white);
    overflow: hidden;
}

aside .menu-item:hover{
    background: var(--color-light);
}

aside .menu-item span img{
    width: 1.8rem;
    margin-left: 2rem;
    position: relative;
}

aside .contador-notificaciones{
    background: var(--color-danger);
    color: var(--color-white);
    width: fit-content;
    font-size: .7 rem;
    border-radius: 30%;
    padding: .1rem .4rem ;
    position: absolute;
    top: .7rem;
    left: 3.2rem;
}

aside .menu-item h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
    color: var(--color-dark); /* O el color que prefieras */
}

aside .active{
    background: var(--color-light);
}

aside .active::before{
    content: '';
    display: block;
    width: .5rem;
    height: 100%;
    background: var(--color-primary);
}

aside .menu-item:first-child{
    overflow: hidden;
    border-top-left-radius:var(--card-border-radius);
    border-top-right-radius:var(--card-border-radius);
}

aside.menu-item:last-child(2){
     overflow: hidden;
    border-bottom-left-radius:var(--card-border-radius);
    border-bottom-right-radius:var(--card-border-radius);
}

.btn-lg{
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 80%;
    justify-self: center;          
    text-align: center;
    margin-top: 1rem;
}

/*......................................Notificacion Box..................................*/
.notificacion-box{
    width: 30rem;
    left: 110%;
    position: absolute;
    top: 0;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--color-primary) 0 0 1rem;
    z-index: 8;
    display: none;

}

.notificacion-box::before{
    content:'';
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-white);
    position: absolute;
    left: -.6rem;
    transform: rotate(50deg);
}

.notificacion-box>div{
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1rem;
}

.notificacion-box .profile-picture{
    width: 2.6rem;
}

.notificacion-box>div small{
    display: block;

}
/*..................................Main Middle..............................................*/


/*...................Publicaciones...............*/
.middle-container{
    max-width: 700px !important;
    width: 90%;
    margin: 0 auto;
}

.main-middle .add-post{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem var(--card-padding);
    border-radius: var(--border-radius);
    background: var(--color-white) ;
    margin-top: 1rem;
    box-shadow: 0.02rem 0.1rem 0.1rem var(--color-gray); 
    border: 0.02rem solid var(--color-gray);
    margin: 1.5rem;
}

.main-middle .add-post input[type="text"]{
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background-color: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

.main-middle .add-post .profile-picture{
    width: 2.8rem;
}

/*...................Feed...............*/
.feeds .feed{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    /*margin: 1rem auto;*/
    line-height: 1.5;
    font-size: .85rem;
    position: relative;
    box-shadow: 0.02rem 0.1rem 0.1rem var(--color-gray); 
    border: 0.02rem solid var(--color-gray);
    margin: 1.5rem;
}

.feeds .feed .feed-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.feed .feed-top .user{
    display: flex;
    gap: 1rem;
}

.feed .feed-top.edit img{
    width: 1.6rem;
}
.feed .feed-img{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: .8rem;
}

.feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.action-button span:first-child i{
    font-weight: normal;
}

.action-button span:nth-child(2) i{
    font-weight: normal;
}

.bookmark i{
    font-weight: normal;
}

.liked-by{
    display: flex;
}

.liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin-left: -.6rem;
    border: 2px solid var(--color-white);
}

.liked-by span:first-child{
    margin: 0;
}

.liked-by p{
    margin-left: .5rem;
}

.edit .edit-menu{
    background: var(--color-white);
    padding: var(--btn-paddig);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    right: 0;
    box-shadow: 0 0 .2rem var(--color-primary);
    top: 2.4rem;
    transform: scale(0);
    transition: 300ms all ease;
    transform-origin:top right;
}

.edit:hover .edit-menu{
    transform: scale(1);
}

.edit .edit-menu li{
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 1rem;
    color: var(--color-gray);
    cursor: pointer;
    transition: 300ms ease all;
}

.edit .edit-menu li:hover{
    color: var(--color-dark);
}

.edit .edit-menu li:last-child:hover{
    color: var(--color-danger);
}

.hars-tag{
    color: var(--color-primary);
}


/*-- ..................Perfil........................ --*/
.perfil {
    margin: auto;
    background-color: var(--color-white);
    border-radius: 0.5rem; 
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem var(--color-gray); /* 4px, 8px */
}

.perfil__header {
    position: relative;
    text-align: center;
}

.perfil__header__background {
    position: relative;
}

.perfil__header__background img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

.perfil__header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    position: relative;
}

.perfil__header__info .perfil__header__img{
    top: -5rem;
}

.perfil__header__img {
    position: relative;
    margin-right: 1rem; /* Espacio entre la imagen de perfil y los detalles */
}

.perfil__header__img img {
    width: 8rem; 
    height: 8rem;
    border-radius: 50%;
    border: 0.25rem solid var(--color-white); 
}

.perfil__header__details {
    text-align: left; /* Alineación izquierda para detalles */
}

.perfil__header__details h1 {
    margin: 0.3125rem 0; 
    font-size: 1.5rem; 
}

.perfil__header__details p {
    color: gray;
    font-size: 0.875rem; 
}

/* Iconos de edición */
.icono-editar-perfil {
    position: absolute;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
}

.edit-background {
    top: 0.5rem;
    right: 0.5rem;
}

.edit-profile {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    margin: 1rem;
}






